@model OshawaMechanic.Models.Assignments
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE HTML>

<html>

<head>

    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>


<body>

    <h1>Edit</h1>

    <h2>Assignments</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="assignmentId" />
                <div class="form-group">
                    <label asp-for="coustmerId" class="control-label"></label>
                    <input asp-for="coustmerId" class="form-control" />
                    <span asp-validation-for="coustmerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="employeeId" class="control-label"></label>
                    <input asp-for="employeeId" class="form-control" />
                    <span asp-validation-for="employeeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="ViewAssignments">Back to List</a>
    </div>

</body>

</html>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
