@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html>

<head>
    <title>Oshawa Mechanic</title>

    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>


<body>


    <ul>
        <li><a class="active" href="~/Employees/Create">New Employee</a></li>
        <li><a class="active" href="~/Employees/ViewEmployees">View All Employee</a></li>
        <li><a class="active" href="~/Coustmers/Create">New Coustmer</a></li>
        <li><a class="active" href="~/Coustmers/ViewCoustmers">View All Coustmer</a></li>
        <li><a class="active" href="~/Assignments/Create">New Assignment</a></li>
        <li><a class="active" href="~/Assignments/ViewAssignments">View All Assignment</a></li>

    </ul>

    <div class="center">

        <h3>
            Students4CheapTextbooks is a student group focused on bringing you the cheapest possible price for a textbook.<br />
            Did you know, that the average student spends $600 on textbooks per semester.<br />
            Our focus is to try and bring that down. If you have a used textbook to sell, click on the appraise button in the nav bar above and we will get you a price!<br />

        </h3>

    </div>


</body>


</html>
